.main-list {
  text-align: left;
  margin-bottom: 18px;
  border-bottom: 0;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.fork-list {
  width: 200px;
}
.fork-list,
.list-group-item {
  text-align: justify;
}
.fork-list,
.list-group-item small {
  font-weight: 600;
  font-size: 12px;
}
